.App {
  text-align: center;
  background-color: rgb(1, 8, 27);
  min-height: max-content;
  height: 100%;
}

body{
  background-color: rgb(1, 8, 27);

}
#root {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
body {
  padding: 0px;
}
.App {
  font-family: "Poppins" sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width:100%;
}

.warning {
  margin: auto;
  position: absolute;
  top: 500px;
  left: 50px;
  text-align: center;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oss {
  margin: 0px;
  padding: 0px;
}
/*NAV STYLE*/
.nav-bar {
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background-color: rgb(35, 66, 153);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.nav-bar img {
  width: 60px;
  padding-right: 10px;
}
.nav-bar > div {
  display: flex;
}

.nav-container {
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 50px;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgb(50, 80, 200);
}

.nav-container p {
  text-align: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-logo {
  width: 60px;
  height: max-content;
}
.nav-items > li {
  padding: 10px;
}

/*HERO STYLE*/
.hero {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.g-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.g-element {
  margin: 0px 20px 100px 20px;
  background: rgb(200, 200, 50);
  border-radius: 15px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.g-element p {
  font-size: 20px;
  font-weight: bold;
}

/*@media (min-width: 350px) and (max-width: 500px) {
  .bg {
    opacity: 0;
  }
  .nav-container {
    background-color: red;
  }
  .warning {
    visibility: visible;
  }
}*/
.bg {
  margin: 0px;
  padding: 0px;
}

/*TRAVEL CARD*/

.travel-container {
  width: 80vw;
  padding: 0px 25px 0px 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.travel-container img {
  object-fit: cover;
  width: 150px;
  border-radius: 8px;
}
.details {
  padding-left: 20px;
}
.google {
  font-size: 12px;
  font-weight: 500;
}


/* messages */

.bg span {
  color: blue;
}
.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: fit-content;
  margin-top: 2rem;
  width: fit-content;
}



.space {
  width: 200px;
  margin: auto;
  margin-top: 1rem;
  padding: 0.8rem;
}

.download {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.8rem 0rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(35, 66, 153);
  width: 200px;
  border-radius: 5px;
}

/*MEMORY*/
.dog-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}
.dog-pic {
  width: 100px;
  aspect-ratio: 16/16;
  margin: 10px;
  border: 5px solid black;
}


/* TENZI */

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center; 
  height:100%;
}
.dice-container {
  background: white;
  width: 350px;
  border-radius: 10px;
  padding: 30px 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  color: black;
}
.titless{
  width:350px;
}
.die-face {
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 0px;
  cursor: pointer;
}

.die-number {
  padding: 10px;
}

.roll {
  background: rgb(50, 100, 200);
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700px;
  border: 0.5px solid rgb(1, 1, 1);
  padding: 15px 10px;
  width: 200px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.roll:hover {
  background: rgb(54, 114, 235);
}
.musicToggle{
  all:unset;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid rgb(200,200,200);
  position: absolute;
  bottom: 30px;
  background-color: black;
  color: white;
}
.roll:active {
  background: rgb(79, 131, 235);
}
.timer {
  color: rgb(255, 255, 100);
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer-container {
  height: 100px;
  width: 100px;
}
.hallOfFame{
  display:flex;
  background-color: green;
  flex: row;
  margin:auto;
  justify-content: center;
  align-items: center;
}

.conf-container{
  width: 350px ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.conff{
  width: 350px;
  margin: auto;
  height: 100%;
}
